<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Liste</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar animated autocomplete="on" ></ion-searchbar>
<ion-content>
  

  <ion-card  class="ion-activated" *ngFor='let place of places' href="/detail/place._id">
    <ion-card-header>
      <ion-card-title >{{ place.title }}</ion-card-title>
      <ion-card-subtitle >Rates: {{ place.rates }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ place.description }}
    </ion-card-content>
  </ion-card>


</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-card>ion-card-hearder>ion-card-title'));

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>
