<ion-header>
  <ion-toolbar>
    <ion-title>Liste</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar animated autocomplete="on"></ion-searchbar>
<ion-content>
  <p>
    <button type='button' (click)='addPlace()'>Add Place</button>
  </p>
  

  <ion-card href="#" class="ion-activated">

    <ion-card-header>
      <ion-card-title *ngFor='let place of places'>{{ place.title }}</ion-card-title>
      <ion-card-subtitle *ngFor='let place of places'>Rates: {{ place.rates }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngFor='let place of places'>
      {{ place.description }}
    </ion-card-content>
  </ion-card>


</ion-content>

<!-- <script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-card>ion-card-header>ion.card-title'));

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script> -->
