<ion-header>
  <ion-toolbar>
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="text-align:center">

    <!-- <ion-avatar >
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar> -->
  <ion-text class="ion-text-center">Nom Prenom</ion-text>
  
  <ion-button  href="">
      <ion-icon slot="start" name="star"></ion-icon>
      Mes évaluations
    </ion-button>
  
  <!-- <ion-button  href="" color="danger">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Log out
  </ion-button> -->
  <!-- Logout button -->
  <ion-buttons slot="end">
    <ion-button (click)="logOut()">Log Out
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-list>
</ion-content>
