<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


 
  <img  src="../../../assets/images/fighters.png">

  <h2 style="text-align:center" class="ion-text-center">{{user}}</h2>



  <ion-item style="margin-bottom:1cm;" >
    <ion-label>Ma position</ion-label>
    <ion-toggle checked [(ngModel)]="position"></ion-toggle>
  </ion-item>
  
  <ion-button  style="margin-bottom:1cm;" expand="block" routerLink="/myratings">
      Mes évaluations
    </ion-button>

    <ion-button style="margin-bottom:1cm;" expand="block" color="danger" (click)="logOut()">
      Log Out 
      <ion-icon name="log-out"></ion-icon>
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
<ion-text style="text-align: center;"> © Spotless App 2021</ion-text>
</ion-col>
</ion-row>
</ion-grid>

</ion-content>
